<div class="items">
  {% for item in entry.items %}
  <div class="item">
    <div class="text">
      <div class="title">{{ item.title }}</div>
      {% if item.description %}
      <div class="description">{{ item.description }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>